

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let chat of listChats">
               <div class="row justify-content-between ">

                   <h4 class="badge bg-success col-3">{{chat.name}}</h4>
                   <div class="col-lg-1 col-2">
                       <button (click)="deleteChat(chat.id)" class="btn btn-outline-danger w-100 btn-sm ">delete</button>
                       <!-- <button (click)="ToupdateChat(chat.payload.doc)" class="btn btn-outline-success w-100  btn-sm ">update</button> -->
                   </div>
               </div>
                <em>{{chat.msg}}</em>
                
            </li>

            
            
        </ul>
        <input (keyup.enter)="createNewChat()" [(ngModel)]="chat.msg" type="text"   class="form-control">
        
    </div>
</div>


